.more{
  min-height: 500px;
  height: 100%;
  width: 100%;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgba(205, 205, 205, 0.1);
  padding: 30px;
}
.status{
  width: 100%;
  height: 100px;
}
div.info{
  font-weight: bold;
  font-size: 12px;
}
.more-info{
  width: 400px;
  height: 130px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: left;
  padding: 10px;
}
.btn-exit{
  font-size: 12px;
}
