<div class="more container">
  <div class="row">
      <div class="col-md-8 center">
        <div class="status mb-5" >
          <div class="info ">{{name}}</div>

          <span *ngIf="status === 'todo'" style="color:red">Сделать</span>
          <span *ngIf="status === 'inprogress'" style="color:#eb880a">В процессе</span>
          <span *ngIf="status === 'complete'" style="color:#00db00">Готово</span>
          <span *ngIf="status === 'reveiw'" style="color:#22eb72">Кодревью</span>
          <span *ngIf="status === 'production'" style="color:#015ddb">Production</span>

        </div>
        <div class="mb-5"></div>

        <div class=" mt-4 mb-2 ">
          <div class="more-info" *ngIf="user.status !== 'admin'" >{{taskComment}}
          </div>
          <span *ngIf="user.status === 'admin'" class="ui-float-label">
              <textarea class="ml-3" id="float-input"  [rows]="5" [cols]="50" [(ngModel)]="taskComment" pInputTextarea></textarea>
              <label class="ml-3" for="float-input">Дополнительная информация</label>
              <button type="button" class="btn-primary btn-exit" (click)="saveChangesComment()">Добавить</button>
          </span>
        </div>
      </div>
      <div class="col-md-4 center">
        <span class="info">{{user.name}} </span>
        <span class="info">{{user.surname}}</span>
      </div>
  </div>
</div>
