.auth-content{
  margin-bottom: 20px;

}
.auth{
  background: #7c8db3; /* Для старых браузров */

  width: 410px;
  border:1px solid grey;
  border-radius: 5px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.auth-header{
  margin-bottom: 20px;
  background: linear-gradient(to top, #6488ff, #0C698C);
  width: auto;
  height: 55px;
  padding-top: 15px;
  background-color: #8190ab;
  border-radius: 5px;
}
.auth-align{
  text-align: -webkit-center;
  padding: 20px;
}


