<div class="auth-align" [@fade] = clickCount [@fade1]>
  <div class="auth" >
    <div class="auth-header">
      <h5>My Kanban Board</h5>
    </div>
    <div class=" auth-content" >
      <router-outlet ></router-outlet>
    </div>


  </div>
</div>

