<p-sidebar [(visible)]="visibleSidebar"
           [style]="{width:'500px', backgroundColor: '#DBDBDB'}"
           class="ui-sidebar-active"
           [baseZIndex]="10000">
  <div>
   <app-more-info
   [name]="modalTask"
    [taskComment]="taskComment"
   [status]="taskStatus"></app-more-info>
  </div>
</p-sidebar>

<div class="">
  <div class="user-name container">
    <div class="ml-4 text-white row" style="width: 50%;">
      <div class="col-md-10 ">
        <div>
          <span>Вы вошли под именем: </span>
          <span class="name" (click)="toggle()">{{user.name}} {{user.surname}}</span>
        </div>
        <div>
          Статус: {{user.status}}
        </div>
      </div>
      <div class="col-md-2">
        <button class=" btn-primary btn-exit" (click)="Exit()">Выход</button>
      </div>

    </div>

    <div  class="mb-3 " style="height: 60px;" >
      <div *ngIf="user.status === 'admin'">
        <input
               type = "text"
               autocomplete="off"
               (keyup.enter)="addToDo()"
               class="addToDo example-form"
               placeholder="what to do"
               [(ngModel)]="name">
        <button class=" btn-exit btn-primary" (click)="addToDo()"> Add </button>
      </div>
    </div>
  </div>
<div >
  <div class="my-carousel">
    <div class="example-container container " >
      <h4>Задание</h4>
      <div class="example-cont">
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box row" *ngFor="let item of todo" cdkDrag  >
          <div class="task-modal col-md-9">
            <div class="item" (click)="openModal(item, todo)">{{item}}</div>
          </div>
          <div class="col-md-3">
           <div class="delete" (click)="removeElement(item)">X</div>
          </div>

        </div>
      </div>
    </div>
    </div>

    <div class="example-container container">
      <h4>В процессе</h4>
      <div class="example-cont">
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[lastList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
          <div class="task-modal col-md-12">
          <div class="item" (click)="openModal(item, inProgress)">{{item}}</div>
        </div>
        </div>
      </div>

      </div>
    </div>

    <div class="example-container container">
      <h4>Завершенные</h4>
      <div class="example-cont">
        <div
          cdkDropList
          #lastList="cdkDropList"
          [cdkDropListData]="complete"
          [cdkDropListConnectedTo]="[doneList, reveiwList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of complete" cdkDrag>
            <div class="task-modal col-md-12">
              <div class="item" (click)="openModal(item, complete)">{{item}}</div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="example-container container " >
      <h4>Кодревью</h4>
      <div class="example-cont">
        <div
          cdkDropList
          #reveiwList="cdkDropList"
          [cdkDropListData]="reveiw"
          [cdkDropListConnectedTo]="[lastList, prodactionList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box row" *ngFor="let item of reveiw" cdkDrag  >
            <div class="task-modal col-md-12">
              <div class="item" (click)="openModal(item, reveiw)">{{item}}</div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="example-container container " >
      <h4>Production</h4>
      <div class="example-cont">
        <div
          cdkDropList
          #prodactionList="cdkDropList"
          [cdkDropListData]="production"
          [cdkDropListConnectedTo]="[reveiwList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box row" *ngFor="let item of production" cdkDrag  >
            <div class="task-modal col-md-12">
              <div class="item" (click)="openModal(item, production)">{{item}}</div>
            </div>

          </div>
        </div>
      </div>
    </div>




  </div>
</div>
</div>
