$color: #bec4ff;

.user-name{
  text-align: left;
  padding: 40px 20px 10px 20px;
  margin-bottom: 5px;
}

.example-container {
  width: 280px;
  max-width: 100%;
  margin: 0 20px 20px 0;
  display: inline-block;

  vertical-align: top;
  text-align: center;

  }
.example-cont{
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  border: 1px solid #424242;
}
.example-list {

  min-height: 40px;
  overflow: hidden;
  display: block;
  background-color: rgba(255,255,255, 0.7);
  max-height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -18px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #a2a2a2;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.5, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(0, 0, 0.5, 1);
}
.addToDo{
  text-align: left;
  margin: 20px;
  margin-left: 50px;
  border: 1px solid black;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
span.name{
  color: #d5d2ef;
  font-size: 18px;
}
span.name:hover{
  color: $color;
  cursor: pointer;


}
span.more{
  color: #6b6b6b;
  font-weight: normal;

}
span.more:hover {
  color: $color;
  cursor: pointer;
}
.butt{
  margin: 10px;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  background-color: #8c94ff;
  color: #ffffff;
}
.butt:hover{
  background-color: #557be0;
  color: #ffffff;


}
.butt :active{
  background-color: #e24727;
  color: #2aac13;
  box-shadow: 0 3px rgb(33,147,90) inset;
}

div.delete{
  text-align: center;
  width: 25px;
  height: 15px;
  margin-bottom: 5px;
  cursor: crosshair;
  color: #bf0000;
  font-weight: bold;
}
div.delete:hover{
  color: red;
}

h4{
  color: white;
}
.task-modal{
  height: 40px;
  font-weight: bold;
}
div.item{
  height: 70%;
}
.sidebar{
}
.ui-sidebar-active{
  border-radius: 5px;
}


.my-carousel{
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
  height: 100%;

}
div.error{
  height: 15px;
}
