.example-form {
  background-color: #3ea9db;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border: 1px solid gray;
  margin: 10px;
}

.example-full-width {
  width: 100%;
}
::ng-deep .example-radio-group{
  border: 3px black;
  border-radius: 3px;
}
.example-radio-group {

  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}
.angMat{
  visibility: hidden;
}
.ngPrime{
  visibility: visible;
  }
.snackbar {
  position: fixed;
  animation: snackbarIn 1s;

}
@keyframes snackbarIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.snackBar {
  position: fixed;
  animation: snackbarIn 1s;

}
@keyframes snackBarOut {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.todo-container{
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  height: 100%;
}
/*.fon-body{
  background-image: url("./pictures/fon-body.jpg");
  background-color: #e2d170;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}*/
