<div>
<h5>Введите данные для регистрации</h5>
<form [formGroup]="form"  (ngSubmit)="onSubmit()" >
  <div class="form-group" [ngClass]="{'has-error':form.get('email').invalid && form.get('email').touched}">

    <div>
    <input id="email"
           placeholder="Username/Email"
           class="form-group underlined"
           formControlName="email">
    </div>
    <div class="error">
      <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email')['errors']['required'] ">Email не может быть пустым</span>
        <span *ngIf="form.get('email')['errors']['email'] ">Введите корректный Email</span>
        <span *ngIf="form.get('email')['errors']['forbiddenEmail'] ">Такой пользователь существует</span>
      </span>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':form.get('password').invalid && form.get('password').touched}">
    <div>
    <input id="password" autocomplete="off"
           placeholder="Password"
           class="form-group underlined"
           formControlName="password"
           type="password" >
    </div>
    <div class="error">
      <span class="form-help-text"
            *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password')['errors']['required'] ">Пароль не может быть пустым</span>
        <span *ngIf="form.get('password')['errors']['minlength']
                  && form.get('password')['errors']['minlength']['requiredLength'] ">
          Количество символов должно быть больше
          {{ form.get('password')['errors']['minlength']['requiredLength'] }}.
          Cейчас {{ form.get('password')['errors']['minlength']['actualLength'] }} </span>
      </span>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':form.get('name').invalid && form.get('name').touched}">
    <div>
    <input id="name" autocomplete="off"
           placeholder="Name"
           class="form-group underlined"
           formControlName="name">
    </div>
    <div class="error">
      <span class="form-help-text" *ngIf="form.get('name').invalid && form.get('name').touched">
        Поле Имя не может быть пустым</span>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error':form.get('surname').invalid && form.get('surname').touched}">
    <div>
      <input id="surname" autocomplete="off"
             placeholder="Surname"
             class="form-group underlined"
             formControlName="surname">
    </div>
    <div class="error">
      <span class="form-help-text" *ngIf="form.get('surname').invalid && form.get('surname').touched">
        Поле Фамилия не может быть пустым</span>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error':form.get('agree').invalid && form.get('agree').touched}">
    <label for="agree">
      <div>
       <input id="agree" autocomplete="off"
           class="checkbox"
           type="checkbox"
           formControlName="agree">
      <span>Согласен с правилами</span>
      </div>
    </label>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Регистрация</button>
  </div>

  <p  class=" text-xs-centr">
    Зарегистрированы? <span class="span-butt"  (click)="toggle()">Войти</span>
  </p>
</form>
</div>
