input{
  margin-bottom: 5px;
}
div{
  width: 350px;
}
.underlined{
  text-decoration: underline ;
}
.form-help-text{
  color: #e40000;
  font-size: 14px;
}
div.error{
  height: 15px;
}
div.button{
  padding-top: 5px;
}
h5{
  margin-bottom: 20px;
}
.span-butt{
  color: #1730ff;
  font-weight: bold;
}
.span-butt:hover{
  color: #0073ff;
  cursor: pointer;
}
