input{
  margin-bottom: 5px;
}
div{
  width: 350px;
  margin-bottom: 15px;
}
.form-help-text{
  color: #dd0000;
  font-size: 14px;
}
h5{
  margin-bottom: 10px;
}

div.aler{
  border-radius: 3px;
  font-size: 14px;
  height: 30px;
  padding: 5px;
}
div.error{
  height: 30px;

}
div.button{
  padding-top: 5px;
}
.span-butt{
  color: #1730ff;
  font-weight: bold;
}
.span-butt:hover{
  color: #0073ff;
  cursor: pointer;
}
