<div >
<h5>Введите данные для входа</h5>

  <div class=" error">
    <div class="aler alert-{{message.type}}" [@fade]= fadeCanLogin
    *ngIf="message.text"
    >{{message.text}}</div>
  </div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{'has-error':form.get('email').invalid && form.get('email').touched}">
    <input id="email"   placeholder="Username" formControlName='email'>

    <div class="error">
      <span class=" form-help-text error" *ngIf="form.get('email').invalid && form.get('email').touched">
        <span class="" *ngIf="form.get('email')['errors']['required'] " >Email не может быть пустым</span>
        <span class="" *ngIf="form.get('email')['errors']['email'] " >Введите корректный Email</span>
      </span>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error':form.get('password').invalid && form.get('password').touched}">
    <input id="password" autocomplete="off" type="password" placeholder="Password" formControlName='password'>

    <div class="error">
      <span class="form-help-text "
            *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password')['errors']['required'] ">Пароль не может быть пустым</span>
        <span *ngIf="form.get('password')['errors']['minlength']
        && form.get('password')['errors']['minlength']['requiredLength']">
          Количество символов должно быть больше
                 {{ form.get('password')['errors']['minlength']['requiredLength'] }}.
          Cейчас
                 {{ form.get('password')['errors']['minlength']['actualLength'] }} </span>
      </span>
    </div>
  </div>
  <div class="button">
    <button class="btn btn-primary"
    [disabled]="form.invalid" >Вход</button>
  </div>
  <p  class=" text-xs-centr">
    Нет аккаунта? <span class="span-butt"   (click)="toggle()">Зарегистрироваться</span>
  </p>
</form>
</div>


