<div class="center pt-5">
  <div class="pt-5">
    <h1 class="text-white mb-5">404 Not Found</h1>
    <h3 class="text-white mb-5">Такой страницы не существует</h3>
    <span class="text-white">Перейти на страницу авторизации. <a [routerLink]="['/login']" class="text-white">Войти</a></span>
  </div>

</div>
