/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;

}
body {

  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("../src/app/pictures/fon-body.jpg"),  #e2d170;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  right: 0;
  left: 0;

}
.center{
  text-align: center;
}
.bg-grey{
  background-color: #b5c4c8;
}
.btn-exit{
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 70px;
  height: 35px;
}
input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
input:focus::-webkit-input-placeholder {text-indent: 200px; transition: text-indent 0.5s ease;}
input:focus::-moz-placeholder          {text-indent: 200px; transition: text-indent 0.5s ease;}
input:focus:-moz-placeholder           {text-indent: 200px; transition: text-indent 0.5s ease;}
input:focus:-ms-input-placeholder      {text-indent: 200px; transition: text-indent 0.5s ease;}
