$color: #8aa3ff;
.example-form {
  min-width: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
}
.edit-user{
  width: 100%;
  text-align: -webkit-center;
  padding: 20px;
}
.form-edit{
  width: 400px;
  height: 580px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  text-align: -webkit-center;
}

.butt{
  margin: 5px;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px;
}
.butt:active{
  background: #9aabc6;
}

.butt:disabled{
  opacity: 0.5;
}
input{
  margin-bottom: 5px;
}
input:disabled{
  opacity:0.5;
}
div{
  width: 350px;
}
.underlined{
  text-decoration: underline ;
}
.form-help-text{
  color: #e40000;
  font-size: 14px;
}
div.error{
  height: 15px;
}
div.button{
  padding-top: 5px;
}
h5{
  margin-bottom: 20px;
}
span.name{
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #597fde;
}
span.name:hover{
  color: #5673be;
  cursor: pointer;
}
div.error{
  height: 15px;
}
.left{
  text-align: left;
  margin-left: 40px;
}
.green-text{
  color: green;
}
.red-text{
  color: red;
}
.opacity-none{
  opacity: 0;
}
.fade{
  opacity: 0;
}
