<div class="edit-user" >
<div class="form-edit">
  <div>
    <h5>Изменить информацию пользователя</h5>
  </div>
  <div>
    <div>
    </div>

                         <!--input your password-->
    <div class="left mb-2">
      <div><label for="your-password"  [ngClass]="isPassValid() ? 'green-text' : 'red-text'">Для редактирования введите пароль:</label></div>
      <input id="your-password"
             [disabled]="isPassValid()"
             type="password"
             [(ngModel)]="password"
             placeholder="Your Password" >
    </div>
<div  class="left mb-2">
                         <!--input new password-->
  <div class=""><label for="password" >Введите новый пароль:</label></div>
  <input id="password"
         [ngClass]="isNewPassValid() ? 'green-text' : 'red-text'"
         [disabled] = !isPassValid()
         type="password"
         [(ngModel)]="newPassword"
         placeholder="New Password" >
  <button  class="butt btn-primary" [disabled]="!isNewPassValid()" (click)="onSubmit()">Сохранить</button>


  <div class="mb-2" >
      <div>
        <label for="name">Имя</label>
      </div>
        <input id="name"
               [(ngModel)]="name"
               [disabled] = !isPassValid()
               placeholder="Name"
               class=" underlined">
      <button  class="butt btn-primary"
               [disabled]="!yourDataValid(name) || !isPassValid()"
               (click)="saveName()">Сохранить</button>
    </div>

    <div class=" mb-4" >
      <div>
        <label for="surname">Фамилия</label>
      </div>
        <input id="surname"
               [(ngModel)]="surname"
               placeholder="Surname"
               [disabled] = !isPassValid()
               class= "form-group underlined">
      <button  class="butt btn-primary"
               [disabled]="!yourDataValid(surname) || !isPassValid()"
               (click)="saveSurname()">Сохранить</button>
    </div>
</div>

    <div>
      <span class="ml-4 mb-2">
        Вернуться
        <b><span class="name" (click)="toggle()">Назад</span></b>
      </span>
    </div>
  </div>
</div>
</div>
